<div class="page">

  <app-nav-bar></app-nav-bar>
  <app-alert></app-alert>

  <main>

    <router-outlet>
    </router-outlet>


  </main>

  <input class="darkmode" type="checkbox" id="darkmode-toggle" [checked]="checkedTheme" (change)="switchTheme($event)">
  <label class="label-mode" for="darkmode-toggle"></label>
  <ng-whiteboard></ng-whiteboard>
  <!-- <app-whiteboard></app-whiteboard> -->
  <app-login-pop-up></app-login-pop-up>
  <app-sign-up-pop-up></app-sign-up-pop-up>
  <app-footer></app-footer>


</div>





