.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex:1;
  padding: 15px;
  min-height: 100vh;
}

.label-mode{
  width: 125px;
  height: 50px;
  position: relative;
  display: block;
  background-color: #18191CFF;
  border-radius: 200px;
  box-shadow: 0 5px 10px #111;
  border: 1px var(--darker-background-color) solid;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 0 10px 10px;
}
.label-mode:after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 60px;
  box-shadow: 0 5px 10px #18191CFF;
  transition: 0.3s;
  background:linear-gradient(180deg, #2f3136, #24252AFF);
}

.darkmode{
  width:0;
  height: 0;
  visibility: hidden;

}
input:checked + .label-mode{
  background-color: var(--background-color);
}
input:checked + .label-mode:after{
  left: 110px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #ffcc89, #d8870b);

}
