<div class="modal md-modal md-effect-10" id="signupModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign Up</h4>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <input type="email" id="defaultForm-email" class="form-control validate" placeholder="Your email...">
        <br>
        <input type="text" id="defaultForm-name" class="form-control validate" placeholder="Your Name...">
        <br>
        <input type="password" id="defaultForm-pass" class="form-control validate" placeholder="Your password...">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>
