<div class="modal md-modal md-effect-10" id="subscriptionModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Subscription</h4>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
      </div>

      <!-- Modal body -->
      <form class="modal-body" [formGroup]="subscriptionForm" novalidate>

        <input type="text" id="username-subscription" class="form-control" formControlName="username" placeholder="Username" readonly>
        <br>
        <input type="email" id="email-subscription" class="form-control" formControlName="email" placeholder="Email" required>
        <br>
        <input type="text" id="name-subscription" class="form-control" formControlName="name" placeholder="Name" required>
        <br>
        <select  class="form-control" formControlName="subscription" required>
          <option [disabled]="1">Subscription</option>
          <option value="no_subscription">No Subscription</option>
          <option value="basic">Basic</option>
          <option value="premium">Premium</option>
        </select>
        <br>
      </form>

      <!-- Modal footer -->
      <div class="modal-footer" >
        <button type="button" class="btn signup" data-bs-dismiss="modal" (click)="subscribe()">Update</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>
