<header class="pt-2">
  <div class="navbar pb-5">
    <div class="logo"><img class="logo" src="favicon.ico" alt="logo"></div>
    <ul class="links mt-3">
      <li><a [routerLink]="['/welcome']" routerLinkActive="active">Welcome</a></li>
      <li><a [routerLink]="['/courses']" routerLinkActive="active">Courses</a></li>
      <li><a href="">Tests</a></li>
    </ul>
    <button href="#" class="action_btn" (click)="openModal()">Login</button>
    <div class="toggle_btn" (click)="openDropDownMenu()"><i class="fa fa-bars"></i></div>
  </div>

  <div class="dropdown_menu">
    <li><a href="">Welcome</a></li>
    <li><a href="">Courses</a></li>
    <li><a href="">Tests</a></li>
    <li><a href="" class="action_btn" >Login</a></li>
  </div>
</header>
