<header>
  <div class="navbar">
    <div class="logo"><img class="logo" src="favicon.ico" alt="logo"></div>
    <ul class="links" >
      <li><a href="">Welcome</a></li>
      <li><a href="">Courses</a></li>
      <li><a href="">Tests</a></li>
    </ul>
    <a href="#" class="action_btn" >Login</a>
    <div class="toggle_btn" (click)="openDropDownMenu()"><i class="fa fa-bars"></i></div>
  </div>

  <div class="dropdown_menu">
    <li><a href="">Welcome</a></li>
    <li><a href="">Courses</a></li>
    <li><a href="">Tests</a></li>
    <li><a href="" class="action_btn" >Login</a></li>
  </div>
</header>
