<div [@slideInUpOnEnter]="1" class="card">
  <div class="exercises-title">Exercises</div>

  <app-exercise-content>
    <app-exercise title="Introduction: Exercise 1">{{content01}}<br><br>{{content02}}<br><br>{{content03}}</app-exercise>
    <app-exercise title="Introduction: Exercise 2">{{content02}}<br><br>{{content03}}</app-exercise>
    <app-exercise title="Introduction: Exercise 3">{{content03}}<br><br>{{content01}}<br><br>{{content02}}</app-exercise>
    <app-exercise title="Beginner: Exercise 1">{{content03}}</app-exercise>
    <app-exercise title="Beginner: Exercise 2">{{content01}}</app-exercise>
    <app-exercise title="Beginner: Exercise 3">{{content02}}</app-exercise>
    <app-exercise title="Beginner: Exercise 4">{{content03}}</app-exercise>
    <app-exercise title="Beginner: Exercise 5">{{content01}}</app-exercise>
    <app-exercise title="Intermediate: Exercise 1">{{content02}}</app-exercise>
    <app-exercise title="Intermediate: Exercise 2">{{content03}}</app-exercise>
    <app-exercise title="Intermediate: Exercise 3">{{content01}}</app-exercise>
    <app-exercise title="Intermediate: Exercise 4">{{content02}}</app-exercise>
  </app-exercise-content>
</div>


