<div class="features-container">

  <app-feature-box
    title = "Study Courses"
    font_awesome="fa-solid fa-image"
    description="Description">
  </app-feature-box>
  <app-feature-box
    title = "Solve Problems"
    font_awesome="fa-solid fa-image"
    description="Description">
  </app-feature-box>
  <app-feature-box
    title = "Compete on the Leaderboard"
    font_awesome="fa-solid fa-image"
    description="Description">
  </app-feature-box>
  <app-feature-box
    title = "Write your ideas on the Whiteboard"
    font_awesome="fa-brands fa-tiktok"
    description="Description">
  </app-feature-box>
</div>
