<div class="features-container">

  <app-feature-box
    title = "You can do 1"
    font_awesome="fa-solid fa-image"
    description="Description for do 1">
  </app-feature-box>
  <app-feature-box
    title = "You can do 2"
    font_awesome="fa-solid fa-image"
    description="Description for do 2">
  </app-feature-box>
  <app-feature-box
    title = "You can do 3"
    font_awesome="fa-solid fa-image"
    description="Description for do 3">
  </app-feature-box>
  <app-feature-box
    title = "You can do 4"
    font_awesome="fa-brands fa-tiktok"
    description="Description for do 4">
  </app-feature-box>
</div>
