
<div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log In</h4>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body">

        <input type="email" id="defaultForm-email" class="form-control validate" placeholder="Your email...">
          <br>
          <input type="password" id="defaultForm-pass" class="form-control validate" placeholder="Your password...">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>

      </div>
    </div>
  </div>


