
<div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Log In</h4>
        </div>

        <form class="modal-body" [formGroup]="loginForm" novalidate>

          <input type="text" id="username-login" class="form-control" formControlName="username" placeholder="Username" required>
          <br>
          <input type="password" id="password-login" class="form-control validate" formControlName="password" placeholder="Password" required>
        </form>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn login" data-bs-dismiss="modal" (click)="loginUser()">Login</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>

      </div>
    </div>
  </div>


